<a href="https://colab.research.google.com/github/amalks02/finwise-genai-capstone/blob/task-05-sql-qa/sql_qa_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# sql_qa_system.ipynb
# --------------------------

# 1Ô∏è‚É£ Import required modules
from langchain.sql_database import SQLDatabase
import sqlite3

# 2Ô∏è‚É£ Database path
DB_PATH = "portfolio.db"

# 3Ô∏è‚É£ Connect to your SQLite database
db = SQLDatabase.from_uri(f"sqlite:///{DB_PATH}")

# 4Ô∏è‚É£ Function to execute SQL queries
def run_sql(user_query):
    """
    Execute SQL query directly on the database.
    Returns the query result or error message.
    """
    try:
        result = db.run(user_query)
        return result
    except Exception as e:
        return f"Error executing SQL: {e}"

# 5Ô∏è‚É£ Sample queries (replace these with your natural language -> SQL)
queries = [
    "SELECT * FROM clients WHERE portfolio_value > 500000;",
    "SELECT * FROM clients WHERE risk_profile='High' AND investments > 200000;",
    "SELECT name, SUM(investments) AS total_investment FROM clients GROUP BY name;",
    "SELECT * FROM clients WHERE risk_profile='Low' AND portfolio_value BETWEEN 200000 AND 800000;"
]

# 6Ô∏è‚É£ Execute queries and print results
for q in queries:
    print(f"\nüîπ SQL Query: {q}")
    result = run_sql(q)
    print("Result:")
    print(result)
    print("="*60)